.App {
  text-align: center;
  background-color: #282c340c;
  width: 100%;
  height: 100%;
}

//Home styles goes here
.home {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
